@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>

<!--<h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>-->

<address>
    Rishon le zion israel<br />
    <abbr title="Phone">P:</abbr>
    054-7660352
</address>

<div id="googleMap" style="width:50%;height:200px;"></div>
<script>
    function myMap() {
        let mapProp = {
            center: new google.maps.LatLng(31.9625345, 34.7991055),
            zoom: 17,
        };
        let map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(41.9625345, 40.7991055)
        });
        let geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': 'Shapira 18, Rishon LeZiyon' }, (results, status) => {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4d-A1lu1OolyY2QnnRx36MlcQ4QqWeEc&callback=myMap"></script>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ShlomiHalif@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">OmriNahumi@example.com</a>
</address>